{% extends "layout.html" %}

{% block content %}

    <div class="row justify-content-md-center mb-4">
        <h3 class='text-primary'>SVM prediction is {{ prediction[0] }}, <br>RNN prediction is {{prediction[1]}}</h3>
    
    </div>

    <div class="row justify-content-md-center">
        <div class="thumbnail">
            {% if prediction[0] == "EG" %}
                <img src="{{url_for('static', filename='images/egy.png')}}" class="img-thumbnail" />
            {% endif %}
        </div>
    </div>
        
    <div class="row justify-content-md-center">
        <div class="thumbnail">
            {% if prediction[0] == "PL" %}
                <img src="{{url_for('static', filename='images/pl.png')}}" class="img-thumbnail" />
            {% endif %}
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="thumbnail">
            {% if prediction[0] == "MO" %}
                <img src="{{url_for('static', filename='images/mor.png')}}" class="img-thumbnail" />
            {% endif %}
        </div>
    </div>

{% endblock %}